# Preprocesamiento de la Data de Muestra

Este notebook preprocesa el archivo excel recibido como recurso en la reunión, 
convirtiéndolo a DataFrame de Pandas y almacenando la data para facilitar las consultas.

In [1]:
import numpy as np
import pandas as pd

## Fun facts

In [9]:
fun_facts = pd.read_excel("data_prueba/DBPlaces.xlsx", sheet_name=3)
fun_facts.head()

,ID,touristic_place_id,fact
0,1,BAR CORDANO,"Con más de 114 años de funcionamiento, es el b..."
1,2,BAR CORDANO,El Cordano fue visitado por varios presidentes...
2,3,BAR CORDANO,Reconocido como Patrimonio Cultural de la Naci...
3,4,PALACIO DE TORRE TAGLE,Declarado Patrimonio Cultural de la Nación por...
4,5,PALACIO DE TORRE TAGLE,El Estado Peruano adquirió el edificio colonia...

In [10]:
fun_facts = fun_facts.drop(columns=['ID'])
fun_facts.head()

       touristic_place_id                                               fact
0             BAR CORDANO  Con más de 114 años de funcionamiento, es el b...
1             BAR CORDANO  El Cordano fue visitado por varios presidentes...
2             BAR CORDANO  Reconocido como Patrimonio Cultural de la Naci...
3  PALACIO DE TORRE TAGLE  Declarado Patrimonio Cultural de la Nación por...
4  PALACIO DE TORRE TAGLE  El Estado Peruano adquirió el edificio colonia...

In [14]:
fun_facts.to_csv('fun_facts.csv',index=False, sep = '|')

In [15]:
aux = pd.read_csv('fun_facts.csv', sep = '|')
aux.head()

       touristic_place_id                                               fact
0             BAR CORDANO  Con más de 114 años de funcionamiento, es el b...
1             BAR CORDANO  El Cordano fue visitado por varios presidentes...
2             BAR CORDANO  Reconocido como Patrimonio Cultural de la Naci...
3  PALACIO DE TORRE TAGLE  Declarado Patrimonio Cultural de la Nación por...
4  PALACIO DE TORRE TAGLE  El Estado Peruano adquirió el edificio colonia...

## Automatización para las demás tablas

In [16]:
def make_csv(new_name, sheet_number):
    """
    new_name: Nombre del archivo csv donde se guardará la data
    sheet_number: Número de la hoja donde está la data
    """
    fun_facts = pd.read_excel("data_prueba/DBPlaces.xlsx", sheet_name= sheet_number)
    fun_facts.to_csv(new_name,index=False, sep = '|')

In [18]:
make_csv('touristic_place_category.csv', 0)
make_csv('touristic_place.csv', 1)