# Preprocesamiento de la Data de Muestra

Este notebook preprocesa el archivo excel recibido como recurso en la reunión, 
convirtiéndolo a DataFrame de Pandas y almacenando la data para facilitar las consultas.

In [1]:
import numpy as np
import pandas as pd

## fun_facts

Primero, extrae la tabla desde excel.

In [2]:
fun_facts = pd.read_excel("DBPlaces.xlsx", sheet_name=3)
fun_facts.head()

,ID,touristic_place_id,fact
0,1,BAR CORDANO,"Con más de 114 años de funcionamiento, es el b..."
1,2,BAR CORDANO,El Cordano fue visitado por varios presidentes...
2,3,BAR CORDANO,Reconocido como Patrimonio Cultural de la Naci...
3,4,PALACIO DE TORRE TAGLE,Declarado Patrimonio Cultural de la Nación por...
4,5,PALACIO DE TORRE TAGLE,El Estado Peruano adquirió el edificio colonia...

Descarta columnas inservibles para el propósito del caso

In [3]:
fun_facts = fun_facts.drop(columns=['ID'])
fun_facts.head()

       touristic_place_id                                               fact
0             BAR CORDANO  Con más de 114 años de funcionamiento, es el b...
1             BAR CORDANO  El Cordano fue visitado por varios presidentes...
2             BAR CORDANO  Reconocido como Patrimonio Cultural de la Naci...
3  PALACIO DE TORRE TAGLE  Declarado Patrimonio Cultural de la Nación por...
4  PALACIO DE TORRE TAGLE  El Estado Peruano adquirió el edificio colonia...

In [12]:
# Guardar la tabla resultante en CSV y verificar
fun_facts.to_csv('fun_facts.csv',index=False, sep = '|')
aux = pd.read_csv('fun_facts.csv', sep = '|')
aux.head()

       touristic_place_id                                               fact
0             BAR CORDANO  Con más de 114 años de funcionamiento, es el b...
1             BAR CORDANO  El Cordano fue visitado por varios presidentes...
2             BAR CORDANO  Reconocido como Patrimonio Cultural de la Naci...
3  PALACIO DE TORRE TAGLE  Declarado Patrimonio Cultural de la Nación por...
4  PALACIO DE TORRE TAGLE  El Estado Peruano adquirió el edificio colonia...

## touristic_place_category

In [17]:
# 1. Leer Archivo
touristic_place_category = pd.read_excel("DBPlaces.xlsx", sheet_name=0)
touristic_place_category.head()

,id,category_id,subcategory_id,touristic_place_id,Unnamed: 4
0,1,Arquitectura y espacios urbanos,Bares,BAR CORDANO,NaN
1,2,Arquitectura y Espacios Urbanos,Palacio,PALACIO DE TORRE TAGLE,NaN
2,3,Museos y otros,Museos,MUSEO DE ARTE DE LIMA,NaN
3,4,Museos y otros,Museos,MUSEO HISTORICO MILITAR DE LOS COMBATIENTES DE...,NaN
4,5,Arquitectura y espacios urbanos,Parques,PARQUE UNIVERSITARIO,NaN

In [18]:
# 2. Eliminar Columna innecesaria
touristic_place_category = touristic_place_category.drop(columns=['Unnamed: 4'])
touristic_place_category.head()

,id,category_id,subcategory_id,touristic_place_id
0,1,Arquitectura y espacios urbanos,Bares,BAR CORDANO
1,2,Arquitectura y Espacios Urbanos,Palacio,PALACIO DE TORRE TAGLE
2,3,Museos y otros,Museos,MUSEO DE ARTE DE LIMA
3,4,Museos y otros,Museos,MUSEO HISTORICO MILITAR DE LOS COMBATIENTES DE...
4,5,Arquitectura y espacios urbanos,Parques,PARQUE UNIVERSITARIO

In [20]:
# 3. Guardar la tabla resultante en CSV
touristic_place_category.to_csv('touristic_place_category.csv',index=False, sep = '|')
aux = pd.read_csv('touristic_place_category.csv', sep = '|')
aux.head()

,id,category_id,subcategory_id,touristic_place_id
0,1,Arquitectura y espacios urbanos,Bares,BAR CORDANO
1,2,Arquitectura y Espacios Urbanos,Palacio,PALACIO DE TORRE TAGLE
2,3,Museos y otros,Museos,MUSEO DE ARTE DE LIMA
3,4,Museos y otros,Museos,MUSEO HISTORICO MILITAR DE LOS COMBATIENTES DE...
4,5,Arquitectura y espacios urbanos,Parques,PARQUE UNIVERSITARIO

## touristic_place

In [29]:
# 1. Leer archivo
touristic_place = pd.read_excel("DBPlaces.xlsx", sheet_name=1)
touristic_place.head()

,id,name,cost_info,price,schedule_info,historic_info,long_info,short_info,activities_info,longitude,latitude,range,province_id,type_place_id,status
0,1,BAR CORDANO,Libre,0,"Lun -Dom, 08:00 a 20:00 horas",-,"Ubicada al costado de Palacio de Gobierno, al ...",Su estratégica ubicación en la principal zona ...,"Degustación y preparación de platos, productos...",-12.0449,-77.0289,NaN,Lima,Manifestaciones culturales,1
1,2,PALACIO DE TORRE TAGLE,Semi-restringido(previo permiso),0,"Lun - Vie, 9:00 a 13:00 Horas y de 15:00 a 17:...",El Palacio se construyó a inicios del siglo XV...,"El palacio se distribuye en 14 habitaciones, c...",El Palacio de Torre Tagle es un inmueble const...,Actividades Culturales y Sociales,-12.0485,-77.0292,NaN,Lima,Manifestaciones culturales,1
2,3,MUSEO DE ARTE DE LIMA,Previa presentación de boleto o ticket,S/ 6.00 a S/ 12.00Estudiantes / mayores de 65 ...,M-D:10-8 pm/S:1-5 pm,El Museo de Arte de Lima se encuentra en el Pa...,Se inauguró el 01 de Julio de 1872 por motivo ...,El Museo de Arte de Lima es uno de los princip...,"Actividades Culturales, Estudios e Investigaci...",-12.0604,-77.037,NaN,Lima,Manifestaciones culturales,1
3,4,MUSEO HISTORICO MILITAR DE LOS COMBATIENTES DE...,Previa presentación de boleto o ticket,Adultos: S/. 3.00 y Niños y universitarios: S/...,Lunes a viernes: 8:00 a. m. a 3:00 p. m.,"El Museo expone vestuario, mobiliario, documen...",En esa casa nació el Coronel Francisco Bologne...,El museo de los Combatientes del Morro de Aric...,Guía de museos e historía del Perú,-12.0444,-77.0326,NaN,Lima,Manifestaciones culturales,1
4,5,PARQUE UNIVERSITARIO,Libre,0,Lun - Dom 8:00 a.m. a 9:00 p.m,La construcción de este ambiente urbano se da ...,Este parque obtiene esta denominación por enco...,El Parque Universitario es un parque ubicado e...,"Actividades Culturales, Compras de artesanía /...",-12.0541,-77.0313,NaN,Lima,Manifestaciones culturales,1

In [30]:
touristic_place.describe()

              id  status
count  88.000000    88.0
mean   44.500000     1.0
std    25.547342     0.0
min     1.000000     1.0
25%    22.750000     1.0
50%    44.500000     1.0
75%    66.250000     1.0
max    88.000000     1.0

De la descripción (función $describe()$), vemos solamente dos columnas numéricas: 'id' y 'status'. De estas, 'status' siempre tiene el valor 1.0 (desviación 0), mientras que 'id' tiene la mayor desviación posible porque cada valor es único.

In [31]:
print("Valores único en 'range':", pd.unique(touristic_place['range']))
longitudes = touristic_place['longitude']
latitudes = touristic_place['latitude']
print("Tipo de dato en 'longitudes'", type(longitudes[0]))

Valores único en 'range': [nan ' - ' ' -']
Tipo de dato en 'longitudes' <class 'float'>

Debido a que 'range' no almacena ningún dato, también se elimina.

In [32]:
# 2. Eliminar Columna innecesaria
touristic_place = touristic_place.drop(columns=['id', 'status', 'range'])
touristic_place.head()

,name,cost_info,price,schedule_info,historic_info,long_info,short_info,activities_info,longitude,latitude,province_id,type_place_id
0,BAR CORDANO,Libre,0,"Lun -Dom, 08:00 a 20:00 horas",-,"Ubicada al costado de Palacio de Gobierno, al ...",Su estratégica ubicación en la principal zona ...,"Degustación y preparación de platos, productos...",-12.0449,-77.0289,Lima,Manifestaciones culturales
1,PALACIO DE TORRE TAGLE,Semi-restringido(previo permiso),0,"Lun - Vie, 9:00 a 13:00 Horas y de 15:00 a 17:...",El Palacio se construyó a inicios del siglo XV...,"El palacio se distribuye en 14 habitaciones, c...",El Palacio de Torre Tagle es un inmueble const...,Actividades Culturales y Sociales,-12.0485,-77.0292,Lima,Manifestaciones culturales
2,MUSEO DE ARTE DE LIMA,Previa presentación de boleto o ticket,S/ 6.00 a S/ 12.00Estudiantes / mayores de 65 ...,M-D:10-8 pm/S:1-5 pm,El Museo de Arte de Lima se encuentra en el Pa...,Se inauguró el 01 de Julio de 1872 por motivo ...,El Museo de Arte de Lima es uno de los princip...,"Actividades Culturales, Estudios e Investigaci...",-12.0604,-77.037,Lima,Manifestaciones culturales
3,MUSEO HISTORICO MILITAR DE LOS COMBATIENTES DE...,Previa presentación de boleto o ticket,Adultos: S/. 3.00 y Niños y universitarios: S/...,Lunes a viernes: 8:00 a. m. a 3:00 p. m.,"El Museo expone vestuario, mobiliario, documen...",En esa casa nació el Coronel Francisco Bologne...,El museo de los Combatientes del Morro de Aric...,Guía de museos e historía del Perú,-12.0444,-77.0326,Lima,Manifestaciones culturales
4,PARQUE UNIVERSITARIO,Libre,0,Lun - Dom 8:00 a.m. a 9:00 p.m,La construcción de este ambiente urbano se da ...,Este parque obtiene esta denominación por enco...,El Parque Universitario es un parque ubicado e...,"Actividades Culturales, Compras de artesanía /...",-12.0541,-77.0313,Lima,Manifestaciones culturales

In [38]:
touristic_place.loc[[54, 55]]

,name,cost_info,price,schedule_info,historic_info,long_info,short_info,activities_info,longitude,latitude,province_id,type_place_id
54,PARQUE DE LA MURALLA,Libre,0,Martes a domingo de 09:00 a 19:00 horas,-,Inaugurado en 2004 y construido a un costado d...,Inaugurado en 2004 y construido a un costado d...,Apreciación de muestras o actividades artístic...,"12° 2'40.4""",77° 1'34.4”,Lima,Manifestaciones culturales
55,TEATRO MUNICIPAL DE LIMA,Libre,0,Visitas Guiadas al Teatro Municipal de Lima: 1...,-,Inaugurado el 28 de julio de 1920 con el nombr...,Inaugurado el 28 de julio de 1920 con el nombr...,Visita y participación en actividades de vida ...,12° 2`42.9``,77° 2`6.1``,Lima,Manifestaciones culturales

Se debe cambiar el formato de las filas 54 y 55, para que Longitud y Latitud sean numéricos.

### Conversión de coordenadas.

Se usó de referencia https://www.coordenadas-gps.com/convertidor-de-coordenadas-gps

In [42]:
print("Fila 54:")
print(touristic_place['longitude'][54], touristic_place['latitude'][54])

Fila 54:
12° 2'40.4"  77° 1'34.4”

In [50]:
touristic_place['longitude'][54], touristic_place['latitude'][54] = -12.0445556, -77.02622222222222

In [45]:
print("Fila 55:")
print(touristic_place['longitude'][55], touristic_place['latitude'][55])

Fila 55:
12° 2`42.9``  77° 2`6.1``

In [51]:
touristic_place['longitude'][55], touristic_place['latitude'][55] = -12.04525, -77.03502777777777

In [52]:
touristic_place.loc[[54, 55]]

,name,cost_info,price,schedule_info,historic_info,long_info,short_info,activities_info,longitude,latitude,province_id,type_place_id
54,PARQUE DE LA MURALLA,Libre,0,Martes a domingo de 09:00 a 19:00 horas,-,Inaugurado en 2004 y construido a un costado d...,Inaugurado en 2004 y construido a un costado d...,Apreciación de muestras o actividades artístic...,-12.0446,-77.0262,Lima,Manifestaciones culturales
55,TEATRO MUNICIPAL DE LIMA,Libre,0,Visitas Guiadas al Teatro Municipal de Lima: 1...,-,Inaugurado el 28 de julio de 1920 con el nombr...,Inaugurado el 28 de julio de 1920 con el nombr...,Visita y participación en actividades de vida ...,-12.0452,-77.035,Lima,Manifestaciones culturales

In [54]:
# Se transforman las columnas de Longitud y Latitud a numérico.
touristic_place[["longitude", "latitude"]] = touristic_place[["longitude", "latitude"]].apply(pd.to_numeric)

In [55]:
touristic_place.to_csv('touristic_place.csv',index=False, sep = '|')
aux = pd.read_csv('touristic_place.csv', sep = '|')
aux.head()

,name,cost_info,price,schedule_info,historic_info,long_info,short_info,activities_info,longitude,latitude,province_id,type_place_id
0,BAR CORDANO,Libre,0,"Lun -Dom, 08:00 a 20:00 horas",-,"Ubicada al costado de Palacio de Gobierno, al ...",Su estratégica ubicación en la principal zona ...,"Degustación y preparación de platos, productos...",-12.044853,-77.028933,Lima,Manifestaciones culturales
1,PALACIO DE TORRE TAGLE,Semi-restringido(previo permiso),0,"Lun - Vie, 9:00 a 13:00 Horas y de 15:00 a 17:...",El Palacio se construyó a inicios del siglo XV...,"El palacio se distribuye en 14 habitaciones, c...",El Palacio de Torre Tagle es un inmueble const...,Actividades Culturales y Sociales,-12.048497,-77.029234,Lima,Manifestaciones culturales
2,MUSEO DE ARTE DE LIMA,Previa presentación de boleto o ticket,S/ 6.00 a S/ 12.00Estudiantes / mayores de 65 ...,M-D:10-8 pm/S:1-5 pm,El Museo de Arte de Lima se encuentra en el Pa...,Se inauguró el 01 de Julio de 1872 por motivo ...,El Museo de Arte de Lima es uno de los princip...,"Actividades Culturales, Estudios e Investigaci...",-12.060362,-77.037002,Lima,Manifestaciones culturales
3,MUSEO HISTORICO MILITAR DE LOS COMBATIENTES DE...,Previa presentación de boleto o ticket,Adultos: S/. 3.00 y Niños y universitarios: S/...,Lunes a viernes: 8:00 a. m. a 3:00 p. m.,"El Museo expone vestuario, mobiliario, documen...",En esa casa nació el Coronel Francisco Bologne...,El museo de los Combatientes del Morro de Aric...,Guía de museos e historía del Perú,-12.044414,-77.032609,Lima,Manifestaciones culturales
4,PARQUE UNIVERSITARIO,Libre,0,Lun - Dom 8:00 a.m. a 9:00 p.m,La construcción de este ambiente urbano se da ...,Este parque obtiene esta denominación por enco...,El Parque Universitario es un parque ubicado e...,"Actividades Culturales, Compras de artesanía /...",-12.054147,-77.031347,Lima,Manifestaciones culturales

## url_images

In [ ]:
url_images = pd.read_excel("DBPlaces.xlsx", sheet_name=2)
url_image.head()